/*General*/

html {
  font-family: Raleway, Arial, Verdana, sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin:0;
  padding:0;
}

main,
header {
  margin-left: 13%;
  margin-right: 13%;
  max-width: 1440px;
  margin: auto;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

figure,
.filters button,
.searchBar button {
  cursor: pointer;
}

.filters button:hover,
figure:hover {
  transform: scale(1.015);
}

footer a:hover,
.accommodations p:hover{
  text-decoration: underline;
}

/*header*/

.banner {
  width: 100%;
  height: 100px;
}

.banner img {
  width: 150px;
  height: auto;
  margin-top: 25px;
}

.navBar {
  float: right;
  list-style-type: none;
  margin-top: 50px;
}

.nav1, .nav2 {
  color: black;
  position: relative;
  height: 50px;
  padding: 0px 40px;
}

.nav1:hover, .nav2:hover {
  border-top: 3px solid #0065fc;
  padding-top: 52px;
  color: #0065fc;
}

.nav3 {
  color: #0065fc;
  font-weight: bolder;
  margin:  0px 40px;
}

/*teaser*/

.teaser {
  margin-bottom: 45px;
  line-height: 15px;
}

h1 {
  padding-top:10px;
  font-size: 32px;
  margin:0;
}

.teaser p {
  font-size: 16px;
  font-weight: 400;
}

/*Internal block research*/

.searchBar {
  display: block;
  border: 1px solid #f2f2f2;
  max-width: 420px;
  height: 50px;
  border-radius: 20px;
}

.fa-map-marker-alt {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
  line-height: 50px !important;
}

.fa-map-marker-alt:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchBar input {
  position: relative;
  font-size: 18px;
  font-weight: lighter;
  width: 234px;
  height: 50px;
  outline-style: none;
  border: none;
  padding-left: 10px;
}

.searchBar input::placeholder {
  color: black;
}

.searchBar button {
  position: relative;
  float: right;
  width: 134px;
  height: 50px;
  color: white;
  background-color: #0065fc;
  font-size: 18px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  outline-style: none;
  font-weight: bolder;
}

.fa-search{
  visibility: hidden;
  font-size: 1px;
}

/*Filters Menu*/

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  margin-top: 30px;
}

.filters h2 {
  display: block;
  font-size: 20px;
  width: 20px;
  margin-top: 11px;
  padding-right: 20px;
}

.filters button {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: 3px solid #f2f2f2;
  background-color: white;
  outline-style: none;
  margin-left: 50px;
  padding: 0;
  margin-bottom:10px;
}

.btn-economy {
  width: 190px;
}

.btn-family {
  width: 155px;
}

.btn-romantic {
  width: 180px;
}

.btn-animals {
  width: 240px;
}

.filters button span {
  display: block;
  padding-top: 10px;
}

.filters button i {
  float: left;
  left: -4px;
  bottom: 3px;
  position: relative;
  font-size: 18px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
}

.filters button:hover {
  background-color: #0065fc;
  border: 3px solid #deebff;
  color: white;
}

/*Informations*/

.info {
  font-size: 16px;
  padding-top: 10px;
}

.info i {
  position: relative;
  top: 0%;
  background: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid #f2f2f2;
  font-size: 12px;
  color: #0065fc;
  text-indent: 10px;
  line-height: 25px !important;
}

.info span {
  margin-left: 20px;
}

/*Accommodations and Most popular*/

.flexmain {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  width: 100%;
}

.fa-star {
  color: #0065fc;
}

.fa-star.grey {
  color: #f2f2f2;
}

.picturesTitles {
  font-size: 16px;
  font-weight: bold;
}

.picturesPrices {
  font-size: 14px;
}

.fontPrices {
  font-weight: bolder;
}

/*Accommodations*/

.accommodations {
  background: #f2f2f2;
  border-radius: 20px;
  width: 100%;
}

.accommodations_CardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accommodations h2 {
  margin-left:40px;
  font-size: 22px;
}

.accommodations figure {
  max-width: 250px;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 0 20px #999;
}

.accommodations img {
  max-width: 236px;
  width: 100%;
  height: 114px;
  border-radius: 20px 20px 0px 0px;
  margin: 7px;
  object-fit: cover;
}

.accommodations figcaption {
  margin-left: 20px;
  font-size: 16px;
}

.accommodations p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 50px;
}

.accommodations_CardsList a {
  display: block;
  max-width: 250px;
  height: 200px;
  border-radius: 20px;
}

/*Most Popular*/

.mostPopular {
  background: #f2f2f2;
  padding-bottom: 32px;
  border-radius: 20px;
  margin-left: 2%;
  width: 40%;
}

.mostPopular_CardsList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.mostPopular h2 {
  padding-left:40px;
  font-size: 22px;
}

.mostPopular h2 i {
  position: relative;
  float: right;
  margin-right:40px;
}

.mostPopular figure {
  height: 150px;
  max-width: 343px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 20px #999;
}

.mostPopular figcaption {
  float: right;
  width: 50%;
  margin-top: 20px;
}

.mostPopular img {
  height: 136px;
  width: 126px;
  border-radius: 20px 0px 0px 20px;
  margin: 7px;
  object-fit: cover;
}

.mostPopular .starsBlocs {
  padding-top: 40px;
}

/*Activities*/

.activities h2 {
  font-size: 22px;
  padding-top: 30px;
}

.activities_CardsList {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 450px;
}

.activities_CardsList figure {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px #999;
  margin: 0;
}

.activities_CardsList h3 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
  padding:0;
}

.vieuxPort, 
.calanques{
  height: 450px;
}

.pomegues {
  height: 240px;
  
}

.frioul {
  height: 165px;
}

.notreDame {
  height: 195px;
}

.longchamp {
  height: 210px;
}

.activities_CardsList img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.vieuxPort img,
.calanques img {
  height: 395px;
}

.pomegues img {
  height: 185px;
}

.frioul img {
  height: 110px;
}

.notreDame img {
  height: 140px;
}

.longchamp img {
  height: 155px;
}

/*Footer*/

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
  background: #f2f2f2;
  margin-top: 50px;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer li {
  line-height: 30px;
}

/*Media Queries*/

@media screen and (max-width: 1399px) {
 
  .teaser h1{
    line-height: 32px;
  }

  .flexmain {
    flex-direction: column;
  }

  .accommodations {
    width: auto;
  }

  .mostPopular {
    order: -1;
    width: 100%;
    margin-left: 0;
    margin-bottom: 2%;
  }

  .mostPopular_CardsList {
    display: flex;
    flex-flow: row wrap;
  }

  .mostPopular figure {
    min-width: 400px;
  }

  .mostPopular img {
    min-width: 180px;
  }

  .accommodations_CardsList {
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1199px) {
  
  .accommodations figure {
    min-width: 400px;
  }

  .accommodations img {
    min-width: 386px;
  }

  .activities_CardsList {
    flex-direction: row;
  }

  .activities figure {
    min-width: 400px;
    height: 180px;
    margin: 10px;
    margin-bottom: 25px;
  }

  .activities img {
    min-width: 400px;
    height: 130px;
  }

  .activities_CardsList {
    justify-content: space-around;
    height: auto;
    width: auto;
  }

  .activities {
    max-height: inherit;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  
  .accommodations_CardsList {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  
  .activities_CardsList {
    width: inherit;
  }

  .footer {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 575px) {

  main,
  header {
    padding:0;
    margin:0;
  }

  .info,
  .teaser p,
  .teaser h1, 
  .filters h2,
  .banner img {
    margin-left: 30px;
  }
  
/*banner*/

  .banner img {
    width: 90px;
    margin-top:20px;
  }

.navBar {
    display:flex;
    width: 100%;
    text-align: center;
  }

  .nav1:hover, .nav2:hover {
    padding-top:0;
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  .nav1, .nav2 {
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
  }

  .nav3 {
    position: absolute;
    top: 35px;
    right: 1%;
  }

/*Informations*/ 

  .info span {
    margin-left: 0;
  }
  
/*teaser*/

  .teaser {
    line-height: 0;
  }

  .teaser h1 {
    margin-top: 80px;
    font-size: 32px;
    line-height: 32px;
  }

  .teaser p {
    padding-top:0;
    font-size: 18px;
  }

/*searchBar*/

  .searchBar {
    margin:auto;
    margin-top:50px;
    max-width: 280px;
  }

  .searchBar button {
    max-width: 50px;
    height: 50px;
    padding: 0%;
  }

  .searchBar input {
    max-width: 170px;
  }

  .searchBar .text-button {
    visibility: hidden;
  }

  .fa-search {
    visibility: inherit;
    font-size:16px;
  }

  .fa-search:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*Accommodations*/

  .accommodations {
    background: white;
  }

  .accommodations p {
    margin-top:30px;
  }

  .accommodations figure {
    min-width: 300px;
  }

  .accommodations img {
    min-width: 286px;
  }

 /*Most Popular*/

  .mostPopular figure {
    min-width: 340px;
  }

  .mostPopular img {
    min-width: 40px;
  }


 /*Activities*/   

  .activities h2, footer section {
    margin-left: 40px;
  }

  .activities figure {
    min-width: 300px;
  }

  .activities img {
    min-width: 300px;
  }
 /*footer*/

 footer section {
  width: 500px;
  }
}