/*Normalize css*/
html{
    font-family: Raleway, Arial, Verdana, sans-serif;
    overflow-x: hidden;      
}
body{
    margin:0px;
    padding:0px;
}


main, header{
    margin-left: 13%;
    margin-right: 13%;
    max-width: 1440px;
    margin:auto;
    padding:5px;
    width: 100%;
}

/*@media screen and (max-width: 1804px){
    main, header{
        margin-left: 2%;
        margin-right: 2%;
    }
}*/
/*header*/

.banner{
    width: 100%;
    height: 100px;
}

.banner img{
    width: 110px;
    height: auto;
    margin-top: 25px;
}

.banner ul{
    float:right;
    list-style-type:none;
    margin-top: 50px;
}

.banner li{
    display:inline; 
}

.banner .nav1-nav2{
    color: black;
    position:relative;
    text-decoration: none;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.banner .nav1-nav2:hover{
    border-top:3px solid #0065FC;
    padding-top:47px;
    color:#0065FC;

}

.banner .nav3{
    color: #0065FC;
    font-weight: lighter;
    font-weight: bold;
    text-decoration: none;
    margin-left:30px;
}

/*teaser*/
.teaser{ 
    margin-bottom: 45px;
    line-height:15px;
}

h1{
    font-size:22px;
}

.teaser p{
    font-size: 16px;
    font-weight:400;   
}

/*Internal block research*/
.searchBar{
    display: block;
    border: 1px solid #F2F2F2;
    width: 420px;
    height: 50px;
    border-radius: 20px;
    
} 

.fa-map-marker-alt{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color:#F2F2F2;
    border-radius: 20px 0px 0px 20px;
    line-height: 50px !important;   
}

.fa-map-marker-alt:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar input{
    position: relative;    
    font-size: 18px;
    font-weight: bold;
    width: 234px;
    height: 50px;
    outline-style: none;
    border: none;
}

.searchBar input::placeholder{
    color: black;
}

.searchBar button{
    position: relative;
    float: right;
    width: 134px;
    height: 50px;
    color: white;
    background-color:  #0065FC;
    font-size: 18px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    outline-style: none;
    font-weight: bold;
}

/*Filters Menu*/

.filters {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.filters h2{
    font-size: 20px;
    width: 20px;
    margin-top: 11px;
    padding-right:20px;
} 

.filters button{
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid #F2F2F2;
    background-color:white;
    outline-style: none;
    margin-left:50px;
    padding:0;
}

.btn-economy{
    width: 190px;
}

.btn-family{
    width: 155px;   
}

.btn-romantic{
    width: 180px;   
}

.btn-animals{
    width: 240px;
}

.filters button span{
    display: block;
    padding-top: 10px;
}

.filters button i{
    float:left;
    left:-4px;
    bottom:3px;
    position: relative;
    font-size: 18px;
    color:#0065FC;
    background-color:#DEEBFF;
    border-radius: 50px;
    height: 50px;
    width: 50px;    
    line-height: 50px !important;   
}

.filters button:hover{
    background-color:  #0065FC;
    border: 3px solid #0065FC;
    color: white;
}

/*Informations*/

.info{
    font-size: 16px;
    padding-top: 10px;
}

.info i{/*Informative Icon*/
    position:relative;
    top:0%;
    background:white;
    border-radius:50%;
    width:25px;
    height:25px;
    border:2px solid #F2F2F2;
    font-size:12px;
    color: #0065FC;
    text-indent: 10px;
    line-height: 25px !important;
}

.info span{
    margin-left:20px;
}

/*MAIN*/
main{
    display:block;
    margin-top:0px;
}

/*Accommodations and Most popular*/
.fa-star{
    color: #0065FC;
}

.fa-star.grey{
    color: #F2F2F2;
}

.picturesTitles{
    font-size:16px;
    font-weight: bold;
}

.picturesPrices{
    font-size:14px;
}

/*Accommodations*/
.accommodations{  
    margin-top:15px;
    background: #F2F2F2;
    border-radius: 20px;  
    height: 645px;
    width: 880px;  
}

.accommodations div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;  
    height: 460px;
    width: 880px;
    
}

.accommodations h2{
    position: relative;
    top: 25px;
    left: 25px;
    font-size: 22px;
}

.accommodations figure{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background: white;
}


.accommodations img{
    width:236px;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    margin:7px;
    object-fit: cover;
}

.accommodations figcaption{
    margin-left:20px;
}

.accommodations p{
    font-size:16px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 50px;
}

.accommodations p a{
    text-decoration: none;
    color:black;
}

/*Most Popular Section*/
.mostPopular{
    position:relative;
    float: right;
    margin-top: -645px;
    display:flex;
    flex-direction: column;
    height: 630px;
    width: 425px;
    background:#F2F2F2;
    border-radius: 20px;
    padding-top:15px;
    margin-left:2%;   
}

.mostPopular h2{
    margin-left: 40px;
    font-size: 22px;
}

.mostPopular h2 i{
    position: relative;
    float:right;
    margin-right: 40px;
}

.mostPopular figure{
    height:150px;
    max-width: 343px;
    background: white;
    border-radius: 20px;
}


.mostPopular figcaption{
    float: right;
    max-width: 50%;
    margin-top: 20px;

}

.mostPopular img{
    height:136px;
    width:126px;
    border-radius: 20px 0px 0px 20px;
    margin:7px;
    object-fit: cover;
}

.mostPopular div{
    margin-top: 40px;
}

/*Activities*/

.activities h2{
    font-size: 22px;
    margin-bottom: 30px;
}
.activities{
   
}
.activities div{
    display:flex;    
    flex-flow:column wrap;
    justify-content:space-between;
    /*width: 1440px;*/
    margin-right: 0%;
    height: 450px;
    width: 100%;
}

.activities span{
    font-weight: bold;
    margin-left: 20px;
    position: relative;
    bottom: -15px;
}

.activities figure{
    width: 100%;
    max-width: 300px; 
    background: white;
    border-radius: 20px;
    box-shadow:  5px 5px 15px #F2F2F2;
    margin:0px;
}

.vieuxPort{
    height: 450px;

}
.pomegues{
    height: 240px;
    
}

.frioul{ 
    height: 165px;
}

.calanques{
    height: 450px;
}

.notreDame{
    height: 195px;;

}

.longchamp{
    height: 210px;
}

.activities img{
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.vieuxPort img{
    height: 395px;    
}

.pomegues img{
    height: 185px;
}

.frioul img{
    height: 110px;

}

.calanques img{ 
    height: 395px;
}

.notreDame img{
    height: 140px;
}

.longchamp img{
    height: 155px;
}

/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    height: 200px;
    width: 100%;
    background:#F2F2F2;
    margin-top: 50px;
}

footer ul{
    list-style-type:none;
    padding-left:0px;
}

footer li{
    line-height: 30px;
}